<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
        <category
              description="%category.description"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              name="%category.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.line_marking_mode_toggle"
              name="%command.line_marking_mode_toggle.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.numpad_copy"
              name="%command.numpad_copy.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.numpad_cut"
              name="%command.numpad_cut.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.column_marking_mode_toggle"
              name="%command.column_marking_mode_toggle.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.marking_mode_toggle"
              name="%command.marking_mode_toggle.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.insert_paste"
              name="%command.insert_paste.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.insert_swap"
              name="%command.insert_swap.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.repeat"
              name="%command.repeat.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.scroll_buffer_up"
              name="%command.scroll_buffer_up.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.scroll_buffer_down"
              name="%command.scroll_buffer_down.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.line_to_top_of_window"
              name="%command.line_to_top_of_window.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.center_line_in_window"
              name="%command.center_line_in_window.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.line_to_bottom_of_window"
              name="%command.line_to_bottom_of_window.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.top_of_buffer"
              name="%command.top_of_buffer.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.bottom_of_buffer"
              name="%command.bottom_of_buffer.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.top_of_window"
              name="%command.top_of_window.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.end_of_window"
              name="%command.end_of_window.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.right_side_of_window"
              name="%command.right_side_of_window.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.left_side_of_window"
              name="%command.left_side_of_window.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.home"
              name="%command.home.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.end"
              name="%command.end.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.virtual_caret_mode_toggle"
              name="%command.virtual_caret_mode_toggle.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.rename"
              name="%command.rename.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.write_all_and_exit"
              name="%command.write_all_and_exit.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.go_to_line"
              name="%command.go_to_line.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.jump_bookmark"
              name="%command.jump_bookmark.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.open_bookmarks_dialog"
              name="%command.open_bookmarks_dialog.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.replace_next"
              name="%command.replace_next.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.replace_previous"
              name="%command.replace_previous.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.open_scrap_dialog"
              name="%command.open_scrap_dialog.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark1"
              name="%command.drop_bookmark1.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark2"
              name="%command.drop_bookmark2.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark3"
              name="%command.drop_bookmark3.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark4"
              name="%command.drop_bookmark4.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark5"
              name="%command.drop_bookmark5.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark6"
              name="%command.drop_bookmark6.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark7"
              name="%command.drop_bookmark7.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark8"
              name="%command.drop_bookmark8.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark9"
              name="%command.drop_bookmark9.name"/>
        <command
              categoryId="net.ddns.rkdawenterprises.brief4eclipse.commands.category"
              id="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark10"
              name="%command.drop_bookmark10.name"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.line_marking_mode_toggle"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.numpad_copy"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.numpad_cut"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.column_marking_mode_toggle"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.marking_mode_toggle"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.insert_paste"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.insert_swap"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.repeat"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.scroll_buffer_up"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.scroll_buffer_down"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.line_to_top_of_window"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.center_line_in_window"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.line_to_bottom_of_window"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.top_of_buffer"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.bottom_of_buffer"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.top_of_window"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.end_of_window"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.right_side_of_window"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.left_side_of_window"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.home"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.end"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.virtual_caret_mode_toggle"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.rename"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.write_all_and_exit"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.go_to_line"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.jump_bookmark"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.open_bookmarks_dialog"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.replace_next"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.replace_previous"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.open_scrap_dialog"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark1"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark2"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark3"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark4"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark5"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark6"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark7"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark8"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark9"/>
        <handler class="net.ddns.rkdawenterprises.brief4eclipse.Key_binding_handler"
                 commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark10"/>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <scheme
              description="%scheme.description"
              id="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              name="%scheme.name"
              parentId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

        <!-- Binding of B4E commands -->

        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.line_marking_mode_toggle"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+L"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.numpad_copy"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="NUMPAD_ADD"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.numpad_cut"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="NUMPAD_SUBTRACT"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.column_marking_mode_toggle"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+C"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.marking_mode_toggle"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+M"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.insert_paste"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="INSERT"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.insert_swap"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+INSERT"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.repeat"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+R"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.scroll_buffer_up"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+E"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.scroll_buffer_down"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+D"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.line_to_top_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+T"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.center_line_in_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+C"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.line_to_bottom_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+B"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.top_of_buffer"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+PAGE_UP"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.bottom_of_buffer"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+PAGE_DOWN"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.top_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+HOME"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.end_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+END"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.right_side_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+END"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.right_side_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M2+END"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.left_side_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+HOME"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.left_side_of_window"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M2+HOME"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.home"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="HOME"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.end"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="END"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.virtual_caret_mode_toggle"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+V"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.rename"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+O"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.write_all_and_exit"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="SHIFT+M1+X"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.go_to_line"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+G"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.jump_bookmark"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+J"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.open_bookmarks_dialog"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+B"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.replace_next"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="SHIFT+F6"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.replace_previous"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+F6"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.open_scrap_dialog"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="SHIFT+INSERT"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark1"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+1"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark2"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+2"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark3"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+3"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark4"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+4"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark5"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+5"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark6"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+6"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark7"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+7"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark8"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+8"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark9"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+9"/>
        <key
              commandId="net.ddns.rkdawenterprises.brief4eclipse.commands.drop_bookmark10"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+0"/>

        <!-- Re-binding of eclipse built-in commands -->

        <key
              commandId="org.eclipse.ui.edit.text.delete.line"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+D"/>
        <key
              commandId="org.eclipse.ui.edit.text.delete.line.to.end"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+K"/>
        <key
              commandId="org.eclipse.ui.edit.text.delete.line.to.beginning"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+K"/>
        <key
              commandId="org.eclipse.ui.edit.text.toggleOverwrite"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+I"/>
        <key
              commandId="org.eclipse.ui.edit.undo"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+U"/>
        <key
              commandId="org.eclipse.ui.edit.undo"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="NUMPAD_MULTIPLY"/>
        <key
              commandId="org.eclipse.ui.edit.text.deletePreviousWord"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+BS"/>
        <key
              commandId="org.eclipse.ui.edit.text.deleteNextWord"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+BS"/>
        <key
              commandId="org.eclipse.ui.edit.redo"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+U"/>
        <key
              commandId="org.eclipse.ui.help.dynamicHelp"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+H"/>
        <key
              commandId="org.eclipse.ui.file.exit"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+X"/>
        <key
              commandId="org.eclipse.ui.file.save"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+W"/>
        <key
              commandId="org.eclipse.ui.edit.text.smartEnter"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+Enter"/>
        <key
              commandId="org.eclipse.ui.edit.findReplace"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+S"/>
        <key
              commandId="org.eclipse.ui.edit.findReplace"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+T"/>
        <key
              commandId="org.eclipse.ui.edit.findNext"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M2+F5"/>
        <key
              commandId="org.eclipse.ui.edit.findPrevious"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M3+F5"/>
        <key
              commandId="org.eclipse.ui.file.close"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="net.ddns.rkdawenterprises.brief4eclipse.keybindings"
              sequence="M1+X"/>
    </extension>
</plugin>
